/aula10-09/projetoMenu/nbproject/private/
/aula10-09/projetoMenu/build/
/aula26-08/exerciciospt2/exerccio1/nbproject/private/
/aula26-08/exerciciospt2/exerccio1/build/
/aula26-08/exerciciospt2/exercicio2/nbproject/private/
/aula26-08/exerciciospt2/exercicio2/build/
/aula26-08/exerciciospt2/exercicio3/nbproject/private/
/aula26-08/exerciciospt2/exercicio3/build/
/aula26-08/exerciciospt2/exercicio4/nbproject/private/
/aula26-08/exerciciospt2/exercicio4/build/
/aula10-09/exercicios/exercicio1/nbproject/private/
/aula10-09/exercicios/exercicio1/build/
/aula17-09/projetoConexaoBD/nbproject/private/
/aula17-09/projetoConexaoBD/build/
/aula17-09/exercicios/exercicio1/nbproject/private/
/aula17-09/exercicios/exercicio1/build/
/aula17-09/exercicios/exercicio2/nbproject/private/
/aula17-09/exercicios/exercicio2/build/
/aula17-09/exercicios/exercicio3/nbproject/private/
/aula17-09/exercicios/exercicio3/build/